@model ServicioMontacargas.Models.ProcesosCorrectivoModel

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

</head>
<body>
    <br />
    <h4>Detalles del Proceso Correctivo : @Model.ComponenteId</h4>
    <hr />
    <div>        
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tareas)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Tareas != null && Model.Tareas.Any())
                {
                    <ul>
                        @foreach (var tarea in Model.Tareas)
                        {
                            <li>@tarea.Descripcion</li>
                        }
                    </ul>
                }
                else
                {
                    <p>No hay tareas asociadas a este proceso.</p>
                }
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.ComponenteId"><iconify-icon icon="bi:pencil-square"></iconify-icon> Editar</a> |
        <a asp-action="Index"><iconify-icon icon="bi:arrow-left-circle-fill"></iconify-icon> Regresar</a>
    </div>
</body>
</html>

