@model ServicioMontacargas.Models.ServicioPModel

@{
    ViewData["Title"] = "Detalles Servicio P";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<h1>Detalles Servicio Preventivo - @Model.FolioSP</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Montacargas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Montacargas.NumeroEconomico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            Almacen
        </dt>
        <dd class="col-sm-10">
            @if (Model.Productos != null && Model.Productos.Count > 0)
            {
                <ul>
                    @foreach (var producto in Model.Productos)
                    {
                        <li>
                            <strong>Cantidad:</strong> @producto.Cantidad<br />
                            <strong>No. de Parte:</strong> @producto.NoParte<br />
                            <strong>Descripción:</strong> @producto.Descripcion<br />
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No hay productos asociados.</p>
            }
        </dd>
        <h5>MOTOR</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAceiteMotor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NivelAceiteMotor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiltroAceiteMotor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiltroAceiteMotor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElementosAire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElementosAire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bujias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bujias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VálvulasPCV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VálvulasPCV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Limpieza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Limpieza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fugas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fugas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CapuchoBujia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CapuchoBujia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelloCapBujia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelloCapBujia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tiempo)
        </dd>
        <h5>SISTEMA CARBURACION</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaporizador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaporizador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValvulaVacio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValvulaVacio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mezclador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mezclador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepuestoVaporizador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepuestoVaporizador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepuestoMezclador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepuestoMezclador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RespuestoValVacio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RespuestoValVacio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Selenoide)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Selenoide)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filtro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filtro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TanqueGas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TanqueGas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MangueConex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MangueConex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FugasSistema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FugasSistema)
        </dd>
        <h5>SISTEMA ELECTRICO</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alternador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alternador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BateriaTermi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BateriaTermi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Indicadores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Indicadores)
        </dd>
        <h5>SISTEMA ENFRIAMIENTO</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anticongelante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anticongelante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MangueraRS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MangueraRS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MangueraRI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MangueraRI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Radiador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Radiador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ventilador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ventilador)
        </dd>
        <h5>IGNICION</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MotorA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MotorA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bobina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bobina)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CablesB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CablesB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TapaD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TapaD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RotorD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RotorD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PastillaC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PastillaC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distribuidor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distribuidor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SwitchE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SwitchE)
        </dd>
        <h5>TRANSMISION</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EdoNivelA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EdoNivelA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiltroT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiltroT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FugasA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FugasA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mangueras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mangueras)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CablePedal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CablePedal)
        </dd>
        <h5>DIRECCION</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MangosDire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MangosDire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eslabon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eslabon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PernosEslabon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PernosEslabon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Llantas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Llantas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirlosTurcas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirlosTurcas)
        </dd>
        <h5>SISTEMA HIDRAULICO</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EdoyNivelA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EdoyNivelA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FugasSH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FugasSH)
        </dd>
        <h5>SISTEMAS DE FRENOS</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NivelLiquidoF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NivelLiquidoF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CilindroM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CilindroM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ajuste)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ajuste)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purgar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purgar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FugasF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FugasF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FrenoEst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FrenoEst)
        </dd>
        <h5>TREN MOTRIZ</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AceiteDif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AceiteDif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crucetas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crucetas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LlantasTM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LlantasTM)
        </dd>
        <h5>EQUIPO DE SEGURIDAD</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LucesTrab)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LucesTrab)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlafonAssy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlafonAssy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Torreta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Torreta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlarmaReversa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlarmaReversa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Claxon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Claxon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Extintor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Extintor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Espejos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Espejos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CinturonS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CinturonS)
        </dd>
        <h5>GENERALES</h5>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RespaldoC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RespaldoC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Horquillas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Horquillas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Asiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Golpes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Golpes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tablero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tablero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pintura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pintura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CubiertaP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CubiertaP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServicioLyE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServicioLyE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaJ)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.FirmaJ)" alt="Firma Jacsa" width="90" height="90" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaC)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.FirmaC)" alt="Firma Cliente" width="90" height="90" />
        </dd>        
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdServicioP"><iconify-icon icon="bi:pencil-square"></iconify-icon> Editar</a> |
    <a asp-action="Index"><iconify-icon icon="bi:arrow-left-circle-fill"></iconify-icon> Regresar</a>
</div>
