@model IEnumerable<ServicioMontacargas.Models.RevisionCamionModel>

@{
    ViewData["Title"] = "Litsa Revision Camion";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<h1>Lista Revision Camion</h1>
<div>
    @if (TempData["FailRevisionC"] != null)
    {
        <div class="alert alert-danger">
            @TempData["FailRevisionC"]
        </div>
    }
    @if (TempData["ExitoFailRevisionC"] != null)
    {
        <div class="alert alert-success">
            @TempData["ExitoFailRevisionC"]
        </div>
    }
</div>
<p>
    <div class="d-flex justify-content">
        <a class="btn btn-primary" asp-action="Create">Agregar Nuevo</a>
    </div>
</p>
<div class="table-responsive-sm">
    <table class="table table-striped table-hover" id="tb_serviciop" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>
                    Folio
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NivelCombustible)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kilometraje)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Montacargas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NivelAceiteMotor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NivelAceiteTrans)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NivelAceiteDirec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NivelAceiteHidrau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefrigeranteMotor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LiquidoFrenos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Radiador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IndicadorCombus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IndicadorTemp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IndicadorPresionA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BateriayTerminales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Frenos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FrenosEstac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineasAire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SuspensionD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Muelles)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PinturayC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrdenyLG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LlantasDelanteras)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LlantasTraserasLD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LlantasTraserasLI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LucesDelanterasB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LucesDelanterasA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LucesTraseras)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LucesFreno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LucesIntermitentes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LucesDireccionales)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Claxon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlarmaReversa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Limpiaparabrisas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EspejosRetrovisores)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParabrisasVD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedallonVT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VidrioLD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VidrioLI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AleronD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AleronI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Extintor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaponC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreOperador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreInspector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comentarios)
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRevisionCamion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NivelCombustible)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kilometraje)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Montacargas.IdMontacargas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NivelAceiteMotor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NivelAceiteTrans)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NivelAceiteDirec)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NivelAceiteHidrau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefrigeranteMotor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LiquidoFrenos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Radiador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IndicadorCombus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IndicadorTemp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IndicadorPresionA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BateriayTerminales)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Frenos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FrenosEstac)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LineasAire)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SuspensionD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Muelles)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PinturayC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrdenyLG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LlantasDelanteras)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LlantasTraserasLD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LlantasTraserasLI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LucesDelanterasB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LucesDelanterasA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LucesTraseras)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LucesFreno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LucesIntermitentes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LucesDireccionales)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Claxon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlarmaReversa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Limpiaparabrisas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EspejosRetrovisores)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParabrisasVD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedallonVT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VidrioLD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VidrioLI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AleronD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AleronI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Extintor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaponC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreOperador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreInspector)
                    </td>
                    <td style="text-align:left;">
                        @Html.DisplayFor(modelItem => item.Comentarios)
                    </td>
                    <td>
                        @{
                            var rol = Context.Session.GetString("RolUser");

                            @if (rol == "Administrador")
                            {
                                <a asp-action="Edit" asp-route-id="@item.IdRevisionCamion"><iconify-icon icon="bi:pencil-square"></iconify-icon></a>
                                <a asp-action="Details" asp-route-id="@item.IdRevisionCamion"><iconify-icon icon="bi:eye-fill"></iconify-icon></a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#eliminarUsuario-@item.IdRevisionCamion" data-original-title="Eliminar"><iconify-icon icon="bi:trash3-fill"></iconify-icon></a>
                                <a href="#" id="generatePdfLink" data-id="@item.IdRevisionCamion">
                                    <iconify-icon icon="bxs:file-pdf"></iconify-icon>
                                </a>
                                // <a asp-action="RevisionCamionPDF" asp-route-id="@item.IdRevisionCamion"><iconify-icon icon="bi:eye-fill"></iconify-icon></a>

                            }
                            else
                            {
                                <a asp-action="Edit" asp-route-id="@item.IdRevisionCamion"><iconify-icon icon="bi:pencil-square"></iconify-icon></a>
                                <a asp-action="Details" asp-route-id="@item.IdRevisionCamion"><iconify-icon icon="bi:eye-fill"></iconify-icon></a>
                                <a href="#" id="generatePdfLink" data-id="@item.IdRevisionCamion">
                                    <iconify-icon icon="bxs:file-pdf"></iconify-icon>
                                </a>

                            }
                        }
                    </td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="eliminarUsuario-@item.IdRevisionCamion" tabindex="-1" aria-hidden="true" style="width:100%; top:50px;">
                    <div class="modal-dialog modal-contenedor">
                        <div class="modal-content contenedor-eliminar">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Eliminar Revision</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estas seguro que desea eliminar esta Revision?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <a asp-controller="RevisionCamion" asp-action="DeleteConfirmed" asp-route-id="@item.IdRevisionCamion" class="btn btn-danger">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).on('click', '#generatePdfLink', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            generatePdf(id);
        });

        function generatePdf(id) {
            // Realiza una solicitud AJAX para obtener los datos necesarios
            $.ajax({
                url: '/RevisionCamion/RevisionCamionPDF?id=' + id,
                method: 'GET',
                success: function (data) {
                    // Llama a la función para generar el PDF con los datos obtenidos
                    generatePdfFromData(data, id);
                },
                error: function (error) {
                    console.error('Error al obtener los datos:', error);
                }
            });
        }

        function generatePdfFromData(data, id) {
            // Crea un elemento temporal para contener los datos de la vista
            var tempDiv = document.createElement('div');
            tempDiv.innerHTML = data;

            // Llama a html2pdf para generar el PDF
            html2pdf(tempDiv, {
                margin: 5,
                filename: 'Inspeccion de Camion ' + id + '.pdf',
            });
        }
    </script>
}
