@model ServicioMontacargas.Models.ServicioCoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServicioCoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientes.IdClientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CausaFalla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CausaFalla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montacargas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montacargas.IdMontacargas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refacciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refacciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicioD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicioD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdServicioCo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
