@model ServicioMontacargas.Models.MontacargasModel

@{
    ViewData["Title"] = "Detalles Montacarga";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<h1>Detalles del Montacarga : @Model.NumeroEconomico</h1>
<hr />

<div>
    <dl class="row">
        @*<dt class="col-sm-2">
            Folio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMontacargas)
        </dd>*@
        <dt class = "col-sm-2">
            Número Económico
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroEconomico)
        </dd>
        <dt class="col-sm-2">
            Equipo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipo)
        </dd>
        <dt class = "col-sm-2">
            Número de Serie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            Tipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class="col-sm-2">
            Capacidad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.capacidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fases)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fases)
        </dd>
        <dt class="col-sm-2">
            Mtto Anterior
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorometroMtto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horometro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horometro)
        </dd>
        <dt class="col-sm-2">
            Mtto Siguiente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasMtto)
        </dd>
        <dt class = "col-sm-2">
            Estatus
        </dt>
        <dd class = "col-sm-10">
            @{
                if (Model.Status == "Disponible")
                {
                    <span class="badge bg-success">
                        @Html.DisplayFor(model => model.Status)
                    </span>
                }
                else if (Model.Status == "En renta")
                {
                    <span class="badge bg-info text-dark">
                        @Html.DisplayFor(model => model.Status)
                    </span>
                }
                else if (Model.Status == "En reparación")
                {
                    <span class="badge bg-warning text-dark">
                        @Html.DisplayFor(model => model.Status)
                    </span>
                }
                else if (Model.Status == "Baja")
                {
                    <span class="badge bg-danger">
                        @Html.DisplayFor(model => model.Status)
                    </span>
                }
                else if (Model.Status == "Mantenimiento")
                {
                    <span class="badge bg-danger">
                        @Html.DisplayFor(model => model.Status)
                    </span>
                }
                else
                {
                    <span class="badge bg-danger">
                        @Html.DisplayFor(model => model.Status)
                    </span>
                }
            }
        </dd>
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMontacargas"><iconify-icon icon="bi:pencil-square"></iconify-icon> Editar</a> |
    <a asp-action="Index"><iconify-icon icon="bi:arrow-left-circle-fill"></iconify-icon> Regresar</a>
</div>
