@model ServicioMontacargas.Models.ChecklistModel

@{
    ViewData["Title"] = "Detalles Revisión";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
</head>
<h1>Detalles Revisión - @Model.IdChecklist</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.nombreOperador)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.nombreOperador)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IdClientes)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Clientes.IdClientes) - @Html.DisplayFor(model => model.Clientes.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.turno)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.turno)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Montacargas)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Montacargas.NumeroEconomico)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.horometro)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.horometro)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NivelAceiteMotor)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NivelAceiteMotor)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NivelAnticongelante)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NivelAnticongelante)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NivelAceiteHidraulico)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NivelAceiteHidraulico)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NivelLiquidoFrenos)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NivelLiquidoFrenos)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BandaVentilador)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.BandaVentilador)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TanqueGasSoportes)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TanqueGasSoportes)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FrenoEstacionamiento)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FrenoEstacionamiento)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FugaSistemaGas)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FugaSistemaGas)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DistanciaFrenado)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DistanciaFrenado)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RespaldoCarga)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.RespaldoCarga)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Horquillas)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Horquillas)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Golpes)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Golpes)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Tablero)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Tablero)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PinturaGeneral)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.PinturaGeneral)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CubiertaPiston)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CubiertaPiston)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LlantasDireccion)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LlantasDireccion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LlantasTraccion)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LlantasTraccion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BateriaTerminales)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.BateriaTerminales)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LimpiezaGeneral)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LimpiezaGeneral)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Radiador)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Radiador)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SistemaArranque)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.SistemaArranque)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.LucesTrabajo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LucesTrabajo)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.LucesTraseras)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LucesTraseras)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Torreta)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Torreta)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AlarmaReversa)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AlarmaReversa)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Claxon)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Claxon)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Extintor)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Extintor)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Espejos)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Espejos)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CinturonSeguridad)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CinturonSeguridad)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Asiento)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Asiento)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FaroProximidad)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FaroProximidad)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Ruidos)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Ruidos)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Llave)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Llave)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd class="col-sm-9">
            <img src="@Html.DisplayFor(model => model.Firma)" alt="Firma" width="90" height="90" />
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EvidenciaImagen1)
        </dt>
        <dd class="col-sm-9">
            <img src="data:image/jpeg;base64, @Html.DisplayFor(model => model.EvidenciaImagen1Base64)" alt="Evidencia 1" width="100" height="100" />
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EvidenciaImagen2)
        </dt>
        <dd class="col-sm-9">
            <img src="data:image/jpeg;base64, @Html.DisplayFor(model => model.EvidenciaImagen2Base64)" alt="Evidencia 2" width="100" height="100" />
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.nombreJacsa)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.nombreJacsa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdChecklist"><iconify-icon icon="bi:pencil-square"></iconify-icon> Editar</a> |
    <a asp-action="Index"><iconify-icon icon="bi:arrow-left-circle-fill"></iconify-icon> Regresar</a>
</div>
