@model ServicioMontacargas.Models.EntregaMntCrgModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EntregaMntCrgModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorometroEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorometroEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMontacargas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMontacargas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAceiteMotor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAceiteMotor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAnticongelante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAnticongelante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelAceiteHidraulico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelAceiteHidraulico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelLiquidoFrenos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelLiquidoFrenos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanqueGasSoportes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanqueGasSoportes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrenoEstacionamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrenoEstacionamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FugaSistemaGas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FugaSistemaGas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElementoAire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElementoAire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanciaFrenado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanciaFrenado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespaldoCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespaldoCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horquillas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horquillas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tablero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tablero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinturaGeneral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinturaGeneral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CubiertaPiston)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CubiertaPiston)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LlantasDireccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LlantasDireccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LlantasTraccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LlantasTraccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BateriaTerminales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BateriaTerminales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimpiezaGeneral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimpiezaGeneral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SistemaArranque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SistemaArranque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LucesTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LucesTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LucesTraseras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LucesTraseras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Torreta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Torreta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlarmaReversa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlarmaReversa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Claxon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Claxon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extintor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extintor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Espejos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Espejos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CinturonSeguridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CinturonSeguridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaroProximidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaroProximidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Llave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Llave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpresaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpresaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvidenciaImagen1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvidenciaImagen1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvidenciaImagen2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvidenciaImagen2)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEntregaMntCrg" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
