@model IEnumerable<ServicioMontacargas.Models.EntregaMntCrgModel>

@{
    ViewData["Title"] = "Lista Entrega Montacargas";
}

<h1>Lista de Entregas de Montacargas</h1>

<p>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-controller="EntregaMntCrg" asp-action="Create">Generar Entrega</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha Entrega
            </th>
            <th>
                Horometro Entrega
            </th>
            <th>
                Montacargas
            </th>
            <th>
                Aceite Motor
            </th>
            <th>
                Anticogelante
            </th>
            <th>
                Aceite Hidraulico
            </th>
            <th>
                Liquido Frenos
            </th>
            <th>
                Tanque de gas y Soportes
            </th>
            <th>
                Freno Estacionamiento
            </th>
            <th>
                Fuga en sistema gas
            </th>
            <th>
                Elemento de aire
            </th>
            <th>
                Distancia de frenado
            </th>
            <th>
                Capacidad de carga
            </th>
            <th>
                Respaldo de carga
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horquillas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tablero)
            </th>
            <th>
                Pintura General
            </th>
            <th>
                Cubierta y Piston
            </th>
            <th>
                Llantas de direccion
            </th>
            <th>
                Llantas de traccion
            </th>
            <th>
                Bateria y terminales
            </th>
            <th>
                Limpieza General
            </th>
            <th>
                Sistema de arranque
            </th>
            <th>
                Luces de trabajo
            </th>
            <th>
                Luces traseras
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Torreta)
            </th>
            <th>
                Alarma de Reversa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Claxon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extintor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Espejos)
            </th>
            <th>
                Cinturon de Seguridad
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asiento)
            </th>
            <th>
                Faro de proximidad
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Llave)
            </th>
            <th>
                Cliente
            </th>
            <th>
                Empresa
            </th>
            <th>
                Firma
            </th>
            <th>
                Evidencia 1
            </th>
            <th>
                Evidencia 2
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorometroEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idMontacargas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelAceiteMotor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelAnticongelante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelAceiteHidraulico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelLiquidoFrenos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TanqueGasSoportes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FrenoEstacionamiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FugaSistemaGas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElementoAire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DistanciaFrenado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapacidadCarga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RespaldoCarga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horquillas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tablero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PinturaGeneral)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CubiertaPiston)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LlantasDireccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LlantasTraccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BateriaTerminales)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LimpiezaGeneral)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SistemaArranque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LucesTrabajo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LucesTraseras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Torreta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlarmaReversa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Claxon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extintor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Espejos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CinturonSeguridad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaroProximidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Llave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpresaCliente)
                </td>
                <td>
                    <img src="@item.FirmaCliente" alt="Firma del Cliente" width="100" height="100" />
                </td>
                <td>
                    <img src="data:image/jpeg;base64, @item.EvidenciaImagen1Base64" alt="Evidencia1" width="100" height="100" />
                </td>
                <td>
                    <img src="data:image/jpeg;base64, @item.EvidenciaImagen2Base64" alt="Evidencia2" width="100" height="100" />
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEntregaMntCrg"><iconify-icon icon="bi:pencil-square"></iconify-icon></a>
                    <a asp-action="Details" asp-route-id="@item.IdEntregaMntCrg"><iconify-icon icon="bi:eye-fill"></iconify-icon></a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#eliminarUsuario-@item.IdEntregaMntCrg" data-original-title="Eliminar">
                        <iconify-icon icon="bi:trash3-fill"></iconify-icon>
                    </a>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="eliminarUsuario-@item.IdEntregaMntCrg" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-contenedor">
                    <div class="modal-content contenedor-eliminar">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Entrega de Montacarga</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estas seguro que desea eliminar esta Entrega?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
                            <a asp-controller="EntregaMntCrg" asp-action="DeleteConfirmed" asp-route-id="@item.IdEntregaMntCrg" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
