@model ServicioMontacargas.Models.ServicioCorrectivoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServicioCorrectivoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salidas.IdSalidaA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tareas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tareas.ComponenteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Refacciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Refacciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicioD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicioD)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idServicioC">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
