@model IEnumerable<ServicioMontacargas.Models.ServicioCorrectivoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salidas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tareas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refacciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicioD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Salidas.IdSalidaA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tareas.ComponenteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refacciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicioD)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idServicioC">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idServicioC">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idServicioC">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
